.card {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 230px;
  height: 450px;
  margin: 20px;
  background-color: #212121;
  border-radius: 5px;
  border: 1px solid orange;
  line-height: 1.2;

  &__image {
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    height: 230px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
    color: orange;

    &_name {
      height: 75px;
      font-size: 20px;
      text-align: center;
      font-weight: bold;
      margin-bottom: 20px;
    }
  }

}

.card img {
  width: 100%;
  transition: all 0.5s ease-out;
}

.card img:hover {
  transform: scale(1.05);
}

.price {
  font-size: 25px;
  font-weight: bold;
}

