.favourite {
  position: absolute;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  top: 5px;
  right: 5px;
  width: 35px;
  height: 35px;
  background-color: #e9e9e9;
  cursor: pointer;

  &_is_checked {
    background-color: orange;
  }
}

.delete_btn {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
  border: 2px solid orange;
  border-radius: 50%;
  cursor: pointer;
  background-color: #fff;

  &:before,
  &:after {
    position: absolute;
    left: 50%;
    top: calc(50% - 10px);
    content: '';
    height: 20px;
    width: 2px;
    background-color: #585858;
    transition: all 0.5s ease-out;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }

  &:hover:before,
  &:hover:after {
    background-color: orange;
  }
}
